# Backend
backend/.env
backend/service-account.json
backend/*.json
!backend/package.json
backend/__pycache__/
backend/*.pyc
backend/.venv/
backend/venv/

# Frontend
frontend/.env.local
frontend/.next/
frontend/node_modules/
frontend/out/

# General
.DS_Store
*.log
